td, th {
    text-align: center;
    vertical-align: middle;
}

tr th{
    text-align: center;
}

.logo{
    width: 50px;
    height: 50px;
}

body{
    background-image: url(../imagenes/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
}

.form-label{
    color: white;
    font-size: 20px;
}

.container{
    margin-top: 5%;
}

.navbar{
    background-color: whitesmoke;
}

ul, li{
    margin-left: 20px;
}

table{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

h4{
    color: white;
    text-align: right;
}