td, th {
    text-align: center;
    vertical-align: middle;
}

tr th{
    text-align: center;
}

.logo{
    margin-top: 5px;
    margin-bottom: 20px;
    width: 200px;
    height: 125px;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

body{
    background-image: url(../imagenes/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    margin-top: 18%;
    background-color: rgba(211, 211, 211, 0.432);
}